button:hover{
    background-color: #737373;
}

button{
	border: none;
}

a:link{
	text-decoration: none;
}

a:visited{
	text-decoration: none;
}

a:hover{
	color: #004aad;
}

.css-selector{
	font-family: 'Archivo Black', sans-serif;
	font-family: 'League Spartan', sans-serif;
	font-family: 'Montserrat', sans-serif;
}

.nav_bar{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 60px;
	background: #dadada;
	background-blend-mode: normal;
}

.full_logo{
	position: absolute;
	left: 30px;
	top: 12px;
	width: 200px;
}

.bar_fli{
	position: absolute;
	left: 300px;
	top: 15px;
	width: 294px;
	height: 30px;
	font-family: Archivo Black;
	font-size: 20px;
	color:#737373;
}
