<!-- Extend template -->
{% extends "main_layout.html" %}

<!-- Head -->
{% block head %}
    <link href="../static/flights_style.css" rel="stylesheet">
{% endblock head %}

<!-- Title -->
{% block title %}
    Flights
{% endblock title %}

<!-- Body -->
{% block content %}

    <!-- Website Info and Drop Down Title -->
    <div class="div_info">
        <img class="info_icon" src="../static/airplane_icon.png">
        <p class="info_titl">Flight Details</p>
        <div class="div_head">
            <p class="head_date">Date</p>
            <p class="head_depa">Departure/Arrival</p>
            <p class="head_dest">Destination</p>
            <p class="head_airc">Aircraft</p>
        </div>
    </div>

    <!-- List of Flights and Information -->
    <form method="POST">
        <div class="div_choi">
            <select class="choi_text" name="flight_list" id="selfli" onchange="changeChoice(this)">
                {% for d in flights_schedules %}
                    <option value="{{d[4]}}">
                        <p>{{d[0]}}</p>
                        <p>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{d[1]}}</p>
                        <p>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{d[2]}}</p>
                        <p>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{d[3]}}</p>
                    </option>
                {% endfor %}
            </select>
        </div>
        <button class="btn_buy" type="submit">Buy a seat</button>
    </form>

    <!-- Seats Info -->
    <div class="div_seat">
        <p class="seat_titl">Seats View</p>
        <div class="box_free"></div>
        <p class="det_free">Free</p>
        <div class="box_occu"></div>
        <p class="det_occu">Occupied</p>
    </div>

    <!-- Types of Seats -->
    <div class="div_clas">
        <p class="clas_firs">First Class</p>
        <p class="clas_econ">Economy Class </p>
    </div>

    <!-- Chairs Row Label -->
    <div class="div_rows">
        <p>A</p>
        <p>B</p>
        <p>C</p>
        <div class="div_dist"></div>
        <p>D</p>
        <p>E</p>
        <p>F</p>
    </div>

    <!-- Chairs Column Label -->
    <div class="div_colu">
        <p>
            1&emsp;&emsp;&emsp;&emsp;2&emsp;&emsp;&emsp;&emsp;3
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;4
            &emsp;&emsp;&emsp;&emsp;5&emsp;&emsp;&emsp;&emsp;6
            &emsp;&emsp;&emsp;7&emsp;&emsp;&emsp;&emsp;&emsp;8 
            &emsp;&emsp;&emsp;&emsp;9&emsp;&emsp;&emsp;10
        </p>
    </div>

    <!-- Chairs -->
    <div class="div_chai">
        {% set ind = namespace(value=0) %}
        {% for i in range(6) %}
                {% if i == 3 %}
                    <div class="div_spac"></div>
                {% endif%}
                {% for j in range(11) %}
                    {% if j == 3 %}
                        <div class="chai_box"></div>
                    {% else %}
                        <div class="chai_box" id="{{seat_id[ind.value]}}"></div>
                        {% set ind.value = ind.value + 1 %}
                    {% endif%}
                {% endfor %}
        {% endfor %}
    </div>

    <!-- Add Javascript -->
    <script>

        // Get id of all seats
        var all = JSON.parse('{{seat_id|tojson|safe}}');

        // Get id of all available seats per flight
        var a_seats = JSON.parse('{{a|tojson|safe}}');
        var b_seats = JSON.parse('{{b|tojson|safe}}');
        var c_seats = JSON.parse('{{c|tojson|safe}}');
        var d_seats = JSON.parse('{{d|tojson|safe}}');
        var e_seats = JSON.parse('{{e|tojson|safe}}');
        var f_seats = JSON.parse('{{f|tojson|safe}}');

        // Create variable for specific id to change color and index for accessing seats
        var seat_id;
        var ind;

        // Create variable to get selected option
        var ind_sel;

        // Make all seats color to blue
        function setBlue(){

            // Set index to zero
            ind = 0;

            // Iterate for all seats
            while(all[ind]){
                
                // Get html element
                seat_id = document.getElementById(String(all[ind]));

                // Set color to blue
                seat_id.style.backgroundColor = "#004aad";

                // Increment index
                ind++;
            }
        }     

        // When loaded, set selected to first option, set all seats to blue, then change color of available seats
        window.onload = function(){

            // Set selected to first option
            document.getElementById("selfli").value = "1";
            
            // Set all seats to blue
            setBlue();
            
            // Set index to zero
            ind = 0;
            
            // Iterate for available seats
            while(a_seats[ind]){

                // Get html element
                seat_id = document.getElementById(String(a_seats[ind]));

                // Set color to gray
                seat_id.style.backgroundColor = "#dadada";

                // Increment index
                ind++;
            }
        }        
        
        // Change seat color when option is changed
        function changeChoice(choices){

            // Get value of selected index
            ind_sel = choices.options[choices.selectedIndex].value;         

            // First option
            if(ind_sel == "1"){

                // Set all seats to blue
                setBlue();

                // Set index to zero
                ind = 0;
                
                // Set available seats to gray
                while(a_seats[ind]){
                    seat_id = document.getElementById(String(a_seats[ind]));
                    seat_id.style.backgroundColor = "#dadada";
                    ind++;
                }
            }

            // Second option
            if(ind_sel == "2"){

                // Set all seats to blue
                setBlue();

                // Set index to zero
                ind = 0;

                // Set available seats to gray
                while(b_seats[ind]){
                    seat_id = document.getElementById(String(b_seats[ind]));
                    seat_id.style.backgroundColor = "#dadada";
                    ind++;
                }
            }

            // Third option
            if(ind_sel == "3"){

                // Set all seats to blue
                setBlue();

                // Set index to zero
                ind = 0;

                // Set available seats to gray
                while(c_seats[ind]){
                    seat_id = document.getElementById(String(c_seats[ind]));
                    seat_id.style.backgroundColor = "#dadada";
                    ind++;
                }
            }
 
            // Fourth option
            if(ind_sel == "4"){

                // Set all seats to blue
                setBlue();

                // Set index to zero
                ind = 0;

                // Set available seats to gray
                while(d_seats[ind]){
                    seat_id = document.getElementById(String(d_seats[ind]));
                    seat_id.style.backgroundColor = "#dadada";
                    ind++;
                }
            }

            // Fifth option
            if(ind_sel == "5"){

                // Set all seats to blue
                setBlue();

                // Set index to zero
                ind = 0;

                // Set available seats to gray
                while(e_seats[ind]){
                    seat_id = document.getElementById(String(e_seats[ind]));
                    seat_id.style.backgroundColor = "#dadada";
                    ind++;
                }
            }

            // Sixth option
            if(ind_sel == "6"){

                // Set all seats to blue
                setBlue();

                // Set index to zero
                ind = 0;

                // Set available seats to gray
                while(f_seats[ind]){
                    seat_id = document.getElementById(String(f_seats[ind]));
                    seat_id.style.backgroundColor = "#dadada";
                    ind++;
                }
            }
        }

    </script>

{% endblock content %}
