<!-- Extend template -->
{% extends "main_layout.html" %}

<!-- Head -->
{% block head %}
    <link href="../static/seats_style.css" rel="stylesheet">
{% endblock head %}

<!-- Title -->
{% block title %}
    Seats
{% endblock title %}

<!-- Body -->
{% block content %}

    <!-- Flash Display -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div id="div_flash">
                    <p id="mess_flash">{{message}}</p>
                </div>                
                <button id="btn_flash" class="btn_flash" onclick="removeDivFlash()">x</button>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <!-- Title -->
    <div class="div_pers">
        <p class="pers_titl">Personal Details</p>
        <div class="pers_line"></div>        
    </div>

    <!-- Form Fields-->
    <form class="form_deta" method="POST">
        <p class="txt_lname">Last Name</p>
        <input class="box_lname" name="lname_text" type="text" autocomplete="off">
        <p class="txt_fname">First Name</p>
        <input class="box_fname" name="fname_text" type="text" autocomplete="off">
        <p class="txt_mname">Middle Name</p>
        <input class="box_mname" name="mname_text" type="text" autocomplete="off">
        <p class="txt_cont">Contact Number</p>
        <input class="box_cont" name="contact_text" type="text" autocomplete="off">
        <p class="txt_emai">Email Address</p>
        <input class="box_emai" name="email_text" type="text" autocomplete="off">
        <p class="txt_flig">Flight Details</p>
        <input class="box_flig" type="text" readonly value="{{flig_sche}}">
        <p class="txt_sele">Seat Number</p>
        <select class="box_sele" name="seat_choosen">       
            {% for d in seats_list %}
                <option value="{{d}}">{{d}}</option>
            {% endfor %}
        </select> 
        <button class="btn_conf" type="submit">Confirm</button>
    </form>

    <!-- Add Javascript -->
    <script>

        // Remove flash from screen
        function removeDivFlash(){

            // Create variable for div of flash
            const div = document.getElementById("div_flash");

            // Create variable for button in flash
            const btn = document.getElementById("btn_flash")

            // Remove div
            div.remove();

            // Remove button
            btn.remove();
        }

    </script>

{% endblock content %}
